
<div class="community-container">

    <!-- HEADER -->

    <div class="top-section">

        <div>

            <h1 class="community-title">
               {{languageService.get('travelCommunity')}}
            </h1>

            <p class="community-subtitle">
              {{languageService.get('communitySubtitle')}}
            </p>

        </div>

    </div>

    <!-- SUCCESS MESSAGE -->

    <p class="success-message"
       *ngIf="successMessage">
        {{successMessage}}
    </p>

    <!-- SEARCH -->

    <div class="search-container">

        <input class="search-input"
               type="text"
               [placeholder]="languageService.get('searchPlaceholder')"
               [(ngModel)]="searchText">

    </div>

    <!-- STATS -->

    <div class="stats-container">

        <div class="stats-card">
            <h2>{{posts.length}}</h2>
          <p>{{languageService.get('totalPosts')}}</p>
        </div>

        <div class="stats-card">
            <h2>{{getTotalLikes()}}</h2>
            <p>{{languageService.get('totalLikes')}}</p>
        </div>

        <div class="stats-card">
            <h2>{{getTotalComments()}}</h2>
            <p>{{languageService.get('comment')}}</p>
        </div>

        <div class="stats-card">
            <h2>24+</h2>
            <p>{{languageService.get('popularRoutes')}}</p>
        </div>

    </div>

    <!-- CREATE BUTTON -->

    <button class="create-btn"
            (click)="toggleForm()">
       {{languageService.get('createPost')}}
    </button>

    <!-- FORM -->

    <div class="post-form"
         *ngIf="showForm">

        <input type="text"
           [placeholder]="languageService.get('enterTitle')"
               [(ngModel)]="title">

        <textarea [placeholder]="languageService.get('shareExperience')"
                  [(ngModel)]="description">
        </textarea>

        <input type="text"
               [placeholder]="languageService.get('routeName')"
               [(ngModel)]="route">

        <input type="text"
               [placeholder]="languageService.get('hashtags')"
               [(ngModel)]="hashtags">

        <input type="file"
               (change)="onFileSelected($event)">

        <button class="submit-btn"
                type="button"
                (click)="createPost()">

          {{ loading
? languageService.get('posting')
: languageService.get('submitPost') }}

        </button>

    </div>

    <!-- EMPTY -->

    <div *ngIf="posts.length==0"
         class="empty-post">

        <h2>{{languageService.get('noPostsAvailable')}}</h2>

        <p>
            {{languageService.get('startSharingExperiences')}}
        </p>

    </div>

    <!-- POSTS -->
<div class="post-card"
     *ngFor="let post of filteredPosts(); let i = index"
     [hidden]="post.hidden">

        <!-- HEADER -->

        <div class="post-header">

            <div class="profile-section">

                <div class="profile-circle">
                    H
                </div>

                <div>

                    <h3 class="user-name">
                        Hema Sri

                        <span class="verified-badge"
                              *ngIf="isVerifiedUser">
                          {{languageService.get('verified')}}
                        </span>
                    </h3>

                    <p class="post-time">
                        {{languageService.get('postedRecently')}}
                    </p>

                 <button class="follow-btn"
        type="button"
        (click)="toggleFollow(post)">

    {{ post.following
       ? languageService.get('following')
       : languageService.get('follow') }}

</button>

                </div>

            </div>

            <button class="delete-btn"
                    type="button"
                    (click)="deletePost(post._id)">
              {{languageService.get('delete')}}
            </button>

        </div>

        <!-- TITLE -->

        <h2 class="post-title">
            {{post.title}}
        </h2>

        <!-- TRENDING -->

        <div class="trending-badge"
             *ngIf="isTrending(post)">
           {{languageService.get('trending')}}
        </div>

        <!-- IMAGE -->

        <img class="post-image"
             [src]="post.image"
             *ngIf="post.image">

        <!-- DESCRIPTION -->

        <p class="post-description">
            {{post.description}}
        </p>

        <!-- HASHTAGS -->

        <p class="hashtags">
            {{post.hashtags}}
        </p>

        <!-- ROUTE -->

        <h4 class="route-text">
            {{languageService.get('route')}} : {{post.route}}
        </h4>

        <!-- REPORTED -->

        <p class="reported-label"
           *ngIf="post.reported">
           This post has been reported
        </p>

        <!-- ACTIONS -->

        <div class="action-section">

            <button class="like-btn"
                    type="button"
                    (click)="likePost(post)">
                {{languageService.get('like')}}
            </button>

            <button class="comment-btn-small"
                    type="button">
                {{post.likes}} {{languageService.get('likes')}}
            </button>

         <button class="share-btn"
        type="button"
        (click)="sharePost(post)">

    {{languageService.get('share')}}

</button>

         <button class="save-btn"
        type="button"
        (click)="toggleSave(post)">

    {{ post.saved
       ? languageService.get('saved')
       : languageService.get('save') }}

</button>

            <button class="edit-btn"
                    type="button"
                    (click)="editPost(post,i)">
              {{languageService.get('edit')}}
            </button>

           <button class="report-btn"
        type="button"
        (click)="reportPost(post)">

    {{ post.reported
       ? languageService.get('removeReport')
       : languageService.get('report') }}

</button>
<button
class="share-btn"
(click)="shareWhatsApp(post)">

📱 WhatsApp

</button>

<button
class="share-btn"
(click)="shareFacebook(post)">

📘 Facebook

</button>

<button
class="share-btn"
(click)="copyLink(post)">

🔗 Copy Link

</button>
        </div>

        <!-- COMMENTS -->

        <div class="comment-section">

            <input class="comment-input"
                   type="text"
                   [placeholder]="languageService.get('writeComment')"
                   [(ngModel)]="post.newComment">

      <button class="comment-btn"
        type="button"
        (click)="addComment(post)">

    {{languageService.get('comment')}}

</button>

        </div>

        <!-- COMMENT LIST -->

        <div class="comment-box">

            <p *ngFor="let comment of post.comments">
                {{comment}}
            </p>

        </div>

    </div>

    <!-- FORUM -->

    <div class="forum-section">

        <h2 class="forum-heading">
           {{languageService.get('travelForums')}}
        </h2>

        <div class="forum-container">

            <div class="forum-card"
                 *ngFor="let forum of forums">

                <h3>
                    {{forum.title}}
                </h3>

                <p>
                    {{forum.description}}
                </p>

                <button class="join-btn">
                    {{languageService.get('joinDiscussion')}}
                </button>

            </div>

        </div>

    </div>

</div>
