<div class="notification-container">

<button class="create-btn"
        (click)="createSampleNotification()">

   {{translations.create}}

</button>

<button class="event-btn"
        (click)="createJourneyReminder()">

{{translations.reminder}}

</button>

<button class="event-btn"
        (click)="createOfferNotification()">

    {{translations.offer}}

</button>

<button class="event-btn"
        (click)="createCancellationNotification()">

    {{translations.cancel}}

</button>

<h1 class="notification-title">

    {{translations.notifications}}

</h1>

<button class="all-btn"
        (click)="showAllNotifications()">

    Show All

</button>

<div class="notification-card"
     *ngFor="let notification of notifications">

    <div class="notification-header">

        <div class="title-section">

            <h3>
                {{notification.title}}
            </h3>

            <span class="type-badge">

                {{notification.type}}

            </span>

        </div>

        <span class="status"
              [ngClass]="notification.status">

           {{notification.status === 'read'
? translations.read
: translations.unread}}

        </span>

    </div>

    <p class="message">
        {{notification.message}}
    </p>

    <p class="time">
        {{notification.time}}
    </p>

    <button class="read-btn"
            (click)="markAsRead(notification)">

       {{translations.mark}}

    </button>

    <button class="delete-btn"
            (click)="deleteNotification(notification._id)">

       {{translations.delete}}

    </button>

</div>

</div>

<div class="preferences-section">

<h2>

    Notification Preferences

</h2>

<div class="preference-item">

    <label>

        {{'EMAIL_NOTIFICATIONS' | translate}}

    </label>

    <input type="checkbox"
           [(ngModel)]="emailEnabled">

</div>

<div class="preference-item">

    <label>

        {{'PUSH_NOTIFICATIONS' | translate}}

    </label>

    <input type="checkbox"
           [(ngModel)]="pushEnabled">

</div>

<div class="preference-item">

    <label>

        {{'PROMOTIONAL_NOTIFICATIONS' | translate}}

    </label>

    <input type="checkbox"
           [(ngModel)]="promoEnabled">

</div>

<div class="preference-item">

    <label>

        {{'LANGUAGE' | translate}}

    </label>

<select
[(ngModel)]="selectedLanguage"
(change)="changeLanguage($event)">

    <option>English</option>
    <option>Hindi</option>
    <option>Telugu</option>

</select>

</div>

</div>